@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Add an Ingredient</h2>

<h4>Add an ingredient to this recipe: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)

  @Html.Label("Select ingredient")
  @Html.DropDownList("IngredientId")

  @Html.Label("Quantity")
  //Identifies the input value as 'Quantity', which is passed into the AddIngredient route meathod.
  @Html.TextBox("Quantity")
  
  <input type="submit" value="Save" class="btn btn-info btn-sm"/>
}

<p>@Html.ActionLink("Back to list", "Index")</p>

