@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h4>Add a new recipe</h4>
<div class="w-50">
  @using (Html.BeginForm())
  {
    <div class="form-group">
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name, new { @class ="form-control"})
    </div>
    <div class="form-group">
      @Html.Label("Select Category")
      @Html.DropDownList("CategoryId", ViewBag.CategoryId, "Select Category", new { @class = "form-control"})
    </div>
    <div class="form-group">
      @Html.LabelFor(model => model.Instructions)
      @Html.TextBoxFor(model => model.Instructions, new { @class ="form-control"})
    </div>
    <br>

    <input type="submit" value="Add new recipe" class="btn btn-info" />
  }
</div>
<p>@Html.ActionLink("Show all recipes", "Index")</p>