@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe;

<h2>Recipe Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h4>@Html.DisplayNameFor(model => model.Rating): @Html.DisplayFor(model => model.Rating)</h4>

@if(@Model.JoinCategoryRecipes.Count == 0)
{
  <p>This recipe does not belong to any categories!</p>
}
else
{
  <h4>Categories the Recipe belongs to:</h4>

  @foreach(var join in Model.JoinCategoryRecipes)
  {   
    <br>
      @using (Html.BeginForm("DeleteCategory", "Recipes")) 
      {
        <button type="submit" class="btn btn-danger btn-sm" value="Delete">
          Delete
        </button>
        @Html.Hidden("joinId", @join.CategoryRecipeId)
        <span class="badge bg-secondary float-left">@join.Category.Name</span>
      }
  }
}
<br>
@if(@Model.JoinIngredientRecipes.Count == 0)
{
  <p>This recipe does not have any ingredients!</p>
}
else
{
  <h4>Recipe Ingredients:</h4>
        @foreach (var join in Model.JoinIngredientRecipes)
        {
          @using (Html.BeginForm("DeleteIngredient", "Recipes"))
          {
            <p>
              @Html.Hidden("joinId", @join.IngredientRecipeId)
              <button type="submit" class="btn btn-danger btn-sm" value="Delete">
                Delete
              </button>
              @join.Quantity -  @Html.ActionLink($"{join.Ingredient.Name}", "Details", "Ingredients", new {id = join.Ingredient.IngredientId})
            </p>
          }
        }

  <h4>Instructions:</h4>
  <p> @Model.Instructions</p>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Recipe", "Edit", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Delete Recipe", "Delete", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Add a Category", "AddCategory", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Add an Ingredient", "AddIngredient", new { id = Model.RecipeId })</p>