@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.Recipe>;
<div class="progress">
  <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
</div>
<h1>@User.Identity.Name's Recipes</h1>

@if (@Model.Any())
{
  <ul>
    @foreach (Recipe recipe in Model)
    {
      <li>@Html.ActionLink($"{recipe.Name}", "Details", new { id = recipe.RecipeId }) | Rating: @recipe.Rating</li>
    }
  </ul>
}
else
{
  <div class="text-center">
    <h3>No recipes have been added yet!</h3>
    <p>Click below to create one.</p>
  </div>
}

@Html.ActionLink("Add Recipe", "Create", new { }, new { @class = "btn btn-primary"})
@Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "btn btn-primary"})
