@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Ingredient

<h4>Add a new ingredient</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.Label("Select Recipe")
  @Html.DropDownList("RecipeId", "Add to Recipe")

  <input type="hidden" value="@ViewBag.SuccessMessage" name="SuccessMessage"/>
  <input type="submit" value="Add new ingredient" class="btn btn-info" />

    @if (ViewBag.SuccessMessage !=null)
    {
      @if (ViewBag.SuccessMessage != "Not a duplicate")
      {
          <text>
          <script>
            alert('This ingredient already exists!');
          </script>
        </text>
      }
    }
}
<p>@Html.ActionLink("Show all ingredients", "Index")</p>
