@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Ingredient

<h4>Add a new ingredient</h4>
<div class="w-50">
  @using (Html.BeginForm())
  {
    <div class="form-group">
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name, new { @class="form-control", placeholder="Name", required="required" })
    </div>
    <div class="form-group">
      @Html.Label("Select Recipe")
      @Html.DropDownList("RecipeId", ViewBag.RecipeId, "Select Recipe", new { @class = "form-control"})
    </div>
    <br>

    <input type="submit" value="Add New Ingredient" class="btn btn-info" />
  }
</div>
@if (ViewBag.SuccessMessage !=null)
{
  @if (ViewBag.SuccessMessage != "Not a duplicate")
  {
    <text>
      <script>
        alert('This ingredient already exists!');
      </script>
    </text>
  }
}
<br>
@Html.ActionLink("Back to Ingredients", "Index", new { }, new { @class = "btn btn-primary"})
