@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Ingredient;

<h2>Ingredients Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@ViewBag.UsersIngredients.Count == 0)
{
  <p>None of your recipes use this ingredient.</p>
}
else
{
  <h4>Recipes that use this ingredient:</h4>

  @*<!-- <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Recipe.Name - @join.Quantity</li>
    @using (Html.BeginForm("DeleteRecipe", "Ingredients"))
    {
      @Html.Hidden("joinId", @join.IngredientRecipeId)
      <input type="submit" value="Delete"class="btn btn-info btn-sm"/>
    }
  }
  </ul> --> *@

  @foreach(var entry in ViewBag.UsersIngredients)
  {
    int joinId = entry.IngredientRecipeId;
    
    <li>@entry.Recipe.Name - @entry.Quantity</li>
    @using (Html.BeginForm("DeleteRecipe", "Ingredients"))
    {
     @* <!-- @Html.Hidden("joinId", value => @entry.Ingredient.IngredientId) --> *@
      @Html.Hidden("joinId", joinId)
      <input type="submit" value="Delete"class="btn btn-info btn-sm"/>
    }
  }
}

@Html.ActionLink("Back to list", "Index", new {}, new { @class = "btn btn-primary"})
@Html.ActionLink("Edit Ingredient", "Edit", new { id = Model.IngredientId }, new { @class = "btn btn-primary"})
@Html.ActionLink("Delete Ingredient", "Delete", new { id = Model.IngredientId }, new { @class = "btn btn-primary"})
