@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Ingredient

<h4>Edit @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.IngredientId)

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <!-- @* @Html.Label("Select Recipe")
  @Html.DropDownList("RecipeId", "Add to Recipe") *@ -->

  <input type="submit" value="Save" class="btn btn-info" />
}
<p>@Html.ActionLink("Show all ingredients", "Index")</p>