@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.Category>;

<h1>Categories</h1>

@if (@Model.Any())
{
  <ul class="list-group">
    @foreach (Category category in Model)
    {
      <li class="list-group-item d-flex justify-content-between align-items-center">@Html.ActionLink($"{category.Name}", "Details", new { id = category.CategoryId })
       <span class="badge bg-primary rounded-pill">@category.JoinEntities.Count()</span>
      </li>
    }
  </ul>
}
else
{
  <div class="text-center">
    <h3>No categories have been added yet!</h3>
    <p>Click below to create one.</p>
  </div>
}
<br>
@Html.ActionLink("Add Category", "Create", new { }, new { @class = "btn btn-primary"})
@Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "btn btn-primary"})
